<!-- index.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Musluman Tacirler Coins</title>

    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/sandstone/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <style>
        body {
            padding-top: 50px;
        }

        .navbar-inverse {
            background-color: #191919 !important;
            border-color: #191919 !important;
            border-radius: 0px !important;
            position: absolute;
            width: 100%;
            top: 0;
            text-align: center;
        }

        .navbar-inverse .navbar-brand {
            position: absolute;
            width: 100%;
            font-family: 'Bungee';
        }

        td {
            color: #ec9627;
            font-weight: bold;
            font-size: 16px;
        }
    </style>

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
    <script src="app.js"></script>

</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Müslüman Tacİrler</a>
            </div>

        </div>
    </nav>
    <div class="container" ng-app="sortApp" ng-controller="mainController">

        <!--  <div class="alert alert-info">
          <p>Sort Type: {{ sortType }}</p>
          <p>Sort Reverse: {{ sortReverse }}</p>
          <p>Search Query: {{ searchFish }}</p>
        </div> -->
        <br>
        <br>
        <form>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-search"></i>
                    </div>
                    <input type="text" class="form-control" placeholder="Search a coin..." ng-model="searchFish">
                </div>
            </div>
        </form>

        <table class="table table-bordered table-striped">

            <thead>
                <tr>
                    <td>
                        Symbol
                    </td>
                    <td>
                        Name
                    </td>
                    <td>
                        Market Cap
                    </td>
                    <td>
                        Price
                    </td>
                    <td>
                        Volume(24h)
                    </td>
                    <td>
                        Available Supply
                    </td>
                    <td>
                        Change(Percent 1h)
                    </td>
                    <td>
                        Change(Percent 24h)
                    </td>
                    <td>
                        Change(Percent 7d)
                    </td>
                    <td>
                        Total Supply
                    </td>
                </tr>
            </thead>

            <tbody>
                <tr cc-auto-refresh-fn="reload()" ng-repeat="coin in sushi | filter:searchFish">
                    <th>{{coin.symbol}}</th>
                    <th>{{coin.name}}</th>
                    <th>${{coin.market_cap_usd | number}}</th>
                    <th>${{coin.price_usd | number}}</th>
                    <th>${{coin.24h_volume_usd | number}}</th>
                    <th>{{coin.available_supply}}</th>
                    <th>{{coin.percent_change_1h}}</th>
                    <th>{{coin.percent_change_24h}}</th>
                    <th>{{coin.percent_change_7d}}</th>
                    <th>{{coin.total_supply}}</th>
                </tr>
            </tbody>

        </table>

        <p class="text-center">
            by
            <a href="http://www.abdullahkanza.com" target="_blank">Abdullah Kanza</a>
        </p>

    </div>

</body>

</html>